:root {
    --color-iris: #4d5ae5;
    --color-denim: #404bbf;
    --color-charcoal-blue: #2e2f42;
    --color-turquoise: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-ghost-white: #e7e9fc;
    --color-lavander: #f4f4fd;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-white));
}

body.modal-open {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

button {
    cursor: pointer;
    border: none;
}

ul,
ol {
    list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0;
  }
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.title {
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--color-charcoal-blue);
}

.logo {
    color: var(--color-iris);
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-dark-part {
    color: var(--color-charcoal-blue);
}

.logo-light {
    color: rgb(var(--color-lavander));
}

/* Header */
.page-header {
    border-bottom: 1px solid var(--color-ghost-white);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .main-nav {
        padding: 16px 0;
    }
}

.header-logo {
}

@media screen and (min-width: 768px) {
    .header-logo {
        margin-right: 76px;
    }
}

.header-nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 40px;
  }
}

.menu-list {
    display: none;
}

@media screen and (min-width: 768px) {
    .menu-list {
        display: flex;
        gap: 40px;
    }
}

.menu-list-link {
    position: relative;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    letter-spacing: 0.02em;
    color: var(--color-charcoal-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list-link.current {
    color: var(--color-denim);
}

.menu-list-link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-denim);
    position: absolute;
    bottom: -1px;
    left: 0;
}

.menu-list-link:hover,
.menu-list-link:focus {
    color: var(--color-denim);
}

.contact-list {
    display: none;
}

@media screen and (min-width: 768px) {
    .contact-list {
        display: flex;
        align-items: center;
    }
}


/* Burger button */

.header-burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: rgb(var(--color-charcoal-blue));
    background-color: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-burger-btn:hover,
.header-burger-btn:focus {
    color: rgb(var(--color-denim));
}

.header-burger-btn{
    display: flex;
}

@media screen and (min-width: 768px) {
    .header-burger-btn {
        display: none;
    }
}

.header-burger-icon {
    fill: currentColor;
}


/* Hero Section */

.hero__background {
    margin: 0 auto;
    max-width: 320px;
    padding: 72px 0;
    background: rgb(var(--color-charcoal-blue));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/hero/background-phone@1x.jpg');
}

@media (min-resolution: 192dpi) {
    .hero__background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
            url('../images/hero/background-phone@2x.jpg');
    }
}

@media screen and (min-width: 768px) {
    .hero__background {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
            url('../images/hero/background-tablet@1x.jpg');
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero__background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
            url('../images/hero/background-tablet@2x.jpg');
    }
}

@media screen and (min-width: 1158px) {
    .hero__background {
        max-width: 1440px;

        padding: 188px 0;

        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
            url('../images/hero/background-desktop@1x.jpg');
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero__background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
            url('../images/hero/background-desktop@2x.jpg');
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .hero-container {
        gap: 64px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-container {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;
    }
}

.hero__title {
    max-width: 216px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .hero__title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }
}

.hero__button {
    color: var(--color-white);
    background-color: var(--color-iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 169px;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--color-denim);
}

/* Benefits Section */
.benefits {
}

.benefits-container{
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-list {
        justify-content: space-between;
        gap: 24px;
    }
}

.benefits-item {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .benefits-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .benefits-item{
        width: calc((100% - 72px) / 4);
    }
}

.benefits-item-wrapper {
    display: none;
}

@media screen and (min-width: 1158px) {
    .benefits-item-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        border: 1px solid var(--color-light-slate);
        background-color: var(--color-lavander);
        margin-bottom: 8px;
    }
}

.benefits-item-title {
    color: var(--color-charcoal-blue);
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .benefits-item-title {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-item-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

.benefits-item-text {
    color: var(--color-slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (max-width: 1157px) {
    .benefits-item-text {
        font-weight: 500;
    }
}

/* Team Section */
.team {
    background-color: var(--color-lavander);
}

.team-title {
    color: var(--color-charcoal-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    background-color: var(--color-lavander);
    flex-direction: column;
    display: flex;
    gap: 72px;
    padding: 0 12px;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 64px 24px;

        padding: 0 92px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        padding: 0 0;
        margin: 0 auto;
    }
}

.team-member {
    background-color: var(--color-white);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    flex-direction: column;
    display: flex;
}

@media screen and (min-width: 768px) {
    .team-member {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-member {
        width: calc((100% - 72px) / 4);
    }
}

.team-member-img {
    width: 264px;
}

.team-wrapper {
    flex-direction: column;
    display: flex;
    padding: 32px 0;
}

.team-member-name {
    color: var(--color-charcoal-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-member-role {
    color: var(--color-slate);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
}

.team-list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-link-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-iris);
    border-radius: 50%;
    color: var(--color-lavander);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
    background-color: var(--color-denim);
}

.team-icon {
    fill: var(--color-lavander);
}

/* Portfolio Section */

.portfolio {
}


.portfolio-title {
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        gap: 48px 24px;
    }
}

.portfolio-filter__button {
    color: var(--color-iris);
    background-color: var(--color-lavander);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid var(--color-ghost-white);
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter__button:hover {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-filter__button:focus {
    color: var(--color-white);
    background-color: var(--color-denim);
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
    border: 1px solid transparent;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }
}

.portfolio-item:hover {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

.portfolio-overlay-wrapper {
    height: 280px;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .portfolio-overlay-wrapper {
        height: 300px;
    }
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    transform: translateY(100%);
    height: 300px;
    padding: 40px 32px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    background-color: var(--color-iris);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-lavander);
}

.portfolio-overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-ghost-white);
    border-top: none;
    padding: 32px 16px;
}

.portfolio-item-title {
    color: var(--color-charcoal-blue);
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 8px;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-item-category {
    color: var(--color-slate);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer Section */
.page-footer {
    background-color: var(--color-charcoal-blue);
    padding: 100px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        padding: 0 108px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer__logo-wrapper {
}
@media screen and (min-width: 768px) {
    .footer__logo-wrapper {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer__logo-wrapper{
        margin-right: 120px;
    }
}

.foot-logo {
}

@media screen and (min-width: 768px) {
    .foot-logo {
        align-self: start;
    }
}

.foot-logo-part {
    color: var(--color-lavander);
}

.foot-text {
    color: var(--color-lavander);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .foot-text {

    }
}

@media screen and (min-width: 1158px) {
    .foot-text {
        width: 264px;
    }
}

.footer__icon-wrapper {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .footer__icon-wrapper {}
}

@media screen and (min-width: 1158px) {
    .footer__icon-wrapper {
        margin-right: 80px;
    }
}

.footer__icon-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.footer__icon-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
}

@media screen and (min-width: 768px) {
    .footer__icon-text {
        align-self: start;
    }
}

.footer__icon_list{
    display: flex;
    flex-direction: ;
    justify-content: space-between;
}

.social-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer__icon-item {
    width: 40px;
    height: 40px;
}

.footer__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {
    fill: var(--color-lavander);
}

.footer__icon-link:hover,
.footer__icon-link:focus {
    background-color: var(--color-turquoise);
}

.footer__subscribe-wrapper {    
}

.footer__subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .footer__subscribe-form {
        flex-direction: row;
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer__subscribe-form {
        gap: 24px;
    }
}

.footer__subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
}

.footer__subscribe-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.footer__subscribe-input::placeholder {
  color: var(--color-white);
}

.footer__subscribe-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--color-iris);
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    height: 40px;
    min-width: 165px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
    background-color: var(--color-ocean);
}

.footer__subscribe-icon {
    fill: var(--color-white);
    margin-left: 16px;
}

/*Mobile section*/


/*Modal section*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    display: flex;
    z-index: 9999;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-visible {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 288px;
    max-height: clamp(calc(100% - 17px), calc(100% - 17px), 623px);
    overflow-y: auto;

    border-radius: 4px;
    padding: 72px 16px 24px;

    background-color: rgb(var(--color-dairy));
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow:
        0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .modal {}
}

.button-close {
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--color-ghost-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:focus {
    border: none;
    background-color: var(--color-denim);
}

.button-close:hover {
    border: none;
    background-color: #404bbf;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal__icon-close {
    fill: var(--color-white);
}
.modal__button-close:focus .modal__icon-close {
    fill: var(--color-white);
}

.modal__title {
    color: var(--color-charcoal-blue);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
}

.modal__wrapper {
    margin-bottom: 8px;
}

.modal__label {
    color: var(--color-light-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.modal__icon-wrapper {
    position: relative;
}

.modal__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
    border-color: var(--color-iris);
}

.modal__input:focus+.modal__icon {
    fill: var(--color-iris);
}

.modal__icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover .modal-icon,
.modal-input:focus .modal-icon {
    fill: var(--color-iris);
}


.modal__text-field-wrapper {
    margin-bottom: 16px;
}

.modal__text-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.modal__text-field:focus {
    border-color: var(--color-iris);
}

.modal__check-wrapper {
    margin-bottom: 24px;
}

.modal__check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
}

.modal__check-box {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal__check-input:checked + .modal__check-text .modal__check-box {
    background-color: var(--color-denim);
    fill: var(--color-lavander);
    border: none;
}

.modal__link-text {
    color: var(--color-iris);
    text-decoration: underline;
}

.modal__button-submit {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background-color: var(--color-iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    color: var(--color-white);
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit:hover{
        background-color: var(--color-denim);
}

.modal__button-submit:focus {
    background-color: var(--color-denim);
}


/**/
